@model jruchala_blog.Models.Comment

@{
    ViewBag.Title = "Delete";
}



<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <h4>Comment</h4>
    <hr />



    @Html.DisplayFor(model => model.Post.Title)

    @Html.DisplayFor(model => model.Author.FirstName)

    @Html.DisplayFor(model => model.Body)
    @Html.DisplayFor(model => model.Created)
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
