@model jruchala_blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <br />
        @if (Model.MediaUrl != null)
        {
            <img src="@Url.Content(Model.MediaUrl)" />
        }


        <div>


            <hr />
            <dl class="dl-horizontal">


                <dd>
                    @Html.Raw(Model.Body)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <p>
            @{if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", "BlogPosts", new { id = Model.Id })" class="btn btn-danger" role="button">Edit</a>
                }

            }

            <a href="@Url.Action("Index", "BlogPosts")" class="btn btn-primary" role="button">Home</a>
            <a href="@Url.Action("Create", "Comments")" class="btn btn-default" role="button">Comment</a>

        </p>
    </div>
    @*Begin Comments section*@
    <div class="row">
        <h2>Comments</h2>
        @*
            @if (Model.Comments) {
            @foreach (var comment in Model.Comments)
            {
                <p>
                    @Html.Raw(comment.Body)
                </p>

            }
            }*@
    </div>
</div>